html {
  font-size: calc(0.6em + 1vw);
}

body {
  background-color: rgb(32, 32, 32);
  overflow: auto;
}

.bungkusgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* navbar */
.navbar {
  width: auto;
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  /* justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 1em; */
}

#title {
  background-color: rgb(48, 48, 48);
  padding: 1em;
  /* border-radius: 0 2vh 2vh 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0 0.6em; */
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1vh;
}

#title svg {
  height: 4vh;
  width: 4vh;
}

/**dropbutton*/
.dropbutton {
  background-color: rgb(48, 48, 48);
  color: #cccccc;
  padding: 0.4em;
  min-width: 24vh;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 1em 1em 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  /* font-size: inherit; */
  font-weight: 300;
  background-color: rgb(39 39 39 / 1);
  min-width: 24vh;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  /* z-index: 1; */
  right: 0;
  /* align-items: center; */
  /* align-content: center; */
}

.drop-content a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* INI SLIDE */
.wadahslide {
  width: 100%;
  grid-column: 1 / 4;
  padding-top: auto;
}

.slide {
  position: relative;
  background-color: rgb(48, 48, 48);
  padding: 1em;
  width: 78%;
  border-radius: 3vh;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4vh auto;
  text-align: center;
}

.textcat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 5em;
  color: azure;
  
}
/* ................................... */

.drop-content a:last-child {
  border-radius: 0 0 1em 1em;
}

.drop-content a:hover {
  background-color: rgb(64 64 64);
  /*   border-radius: 0 0 1em 1em; */
}

.dropdown:hover .drop-content {
  display: inline-flexbox;
  border-radius: 0 0 1em 1em;
}

.dropdown:hover .dropbutton {
  background-color: rgb(39, 39, 39);
}

/*dropbuton*/

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }

  .wadahslide {
    padding-top: 8vh;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}