* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: rgb(20, 20, 20);
	color: rgb(255, 255, 255);
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1 {
	font-size: 1.4rem;
}
	/* begins to set up font sizes relative to base rem – h1 has been used as an example */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}
    /* sets superscript and subscript text so that it doesn't throw off leading for elements in which they are included */


.bungkusgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* navbar */
.navbar {
  width: auto;
  position: fixed;
  bottom: 50%;
  left: 100%;
  transform: translate(-100%, 50%);
  z-index: 1;
  /* justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap; */
  /* margin: auto; */
  /* margin-top: 1em; */
}

#title {
  /* display: flex; */
  background-color: rgb(48, 48, 48);
  padding: 1em;
  /* border-radius: 0 2vh 2vh 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

#logo {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1vh;
}

.text1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: .8em;
  color: rgb(146, 146, 146);
}

#title svg {
  height: 4vh;
  width: 4vh;
}

/**dropbutton*/
.dropbutton {
  background-color: rgb(48, 48, 48);
  color: #cccccc;
  padding: 0.4em;
  min-width: 24vh;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 1em 1em 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  /* font-size: inherit; */
  font-weight: 300;
  background-color: rgb(39 39 39 / 1);
  min-width: 24vh;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  /* z-index: 1; */
  right: 0;
  /* align-items: center; */
  /* align-content: center; */
}

.drop-content a {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.flexdown {
display: flex;
flex-direction: column;
}

/* INI SLIDE */
.wadahslide {
  width: 100%;
  grid-column: 1 / 4;
  padding-top: auto;
}

.slide {
  position: relative;
  background-color: rgb(48, 48, 48);
  padding: 1em;
  width: 78%;
  border-radius: 3vh;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4vh auto;
  text-align: center;
}


.textcat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: azure;
  
}
/* ................................... */

.drop-content a:last-child {
  border-radius: 0 0 1em 1em;
}

.drop-content a:hover {
  background-color: rgb(64 64 64);
  /*   border-radius: 0 0 1em 1em; */
}

.dropdown:hover .drop-content {
  display: inline-flexbox;
  border-radius: 0 0 1em 1em;
}

.dropdown:hover .dropbutton {
  background-color: rgb(39, 39, 39);
}

/*dropbuton*/

.footer {
  height: auto;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: rgba(240, 255, 255, 0.466);
  position: relative;
  background-color: rgb(48, 48, 48);
  padding: 1em;
  width: 78%;
  border-radius: 3vh 3vh 0 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4vh auto -1vh auto;
  text-align: center;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.kotak0 {
  display: flex;
flex-direction: column;
align-items: flex-start;
/* padding: 336px 336px; */

position: relative;
background: #272727;
}

.title{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: azure;
}

.kotak1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.85);
  position: relative;
  border-radius: 4vh;
  width: 64vh;
  padding: 3vh;
  text-align: center;
  margin-top: 8%;
}

.kotakb {
  display: flex;
  /* position: relative; */
  border-radius: 3vh;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4vh 2vh 0;
  justify-content: space-evenly;
}

.kotakb img {
  width: 10vh;
  margin: .5vh
}

#in {
  background-color: rgb(194, 10, 139);
  padding: 0vh;
  border-radius: 16px;
  display: flex;
}

#be {
  background-color: rgb(0, 62, 203);
  padding: 0 15vh;
  border-radius: 16px;
}

#db {
  background-color: rgb(243, 243, 243);
  padding: 0 15vh;
  border-radius: 16px;
}

#ig {
  background-color: rgb(255, 255, 255);
  padding: 0 15vh;
  border-radius: 16px;
}

#me {
  background-color: rgb(15, 15, 15);
  padding: 0 15vh;
  border-radius: 16px;
}

.center {
  margin: auto;
}

@media only screen and (max-width: 660px) {
  body {
    background-image: url(maintenis1.png);
  }
  .navbar {
    width: 100%;
    bottom: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }

  .wadahslide {
    padding-bottom: 8vh;
  }

  .text1 {
    font-size: 3vh;
  }

  .kotakb {
    flex-direction: column;
    padding: 8vh 0 8vh;
  }

  .kotakb div{
    margin: 1vh;
  }

  .kotak1 {
    margin-top: 15%;
    background-color: whitesmoke;
    border-radius: 0%;
    width: auto;
  }

  #in {
    background-color: rgb(10, 102, 194);
    padding: 0 15vh;
    border-radius: 16px;
    box-shadow: 0 4px 4px #aaaaaa;
  }

  #be {
    background-color: rgb(0, 62, 203);
    padding: 0 15vh;
    border-radius: 16px;
    box-shadow: 0 4px 8px #aaaaaa;
  }

  #db {
    background-color: rgb(243, 243, 243);
    padding: 0 15vh;
    border-radius: 16px;
    box-shadow: 0 4px 8px #aaaaaa;
  }

  #ig {
    background-color: rgb(255, 255, 255);
    padding: 0 15vh;
    border-radius: 16px;
    box-shadow: 0 4px 8px #aaaaaa;
  }

  #me {
    background-color: rgb(15, 15, 15);
    padding: 0 15vh;
    border-radius: 16px;
    box-shadow: 0 4px 8px #aaaaaa;
  }

  .kotakb img {
    width: 10vh;
    margin: .3vh
  }

  #title {
    background-color: whitesmoke;
  }

  .title {
    color: rgb(48, 48, 48);
    font-size: 5vh;
  }
}
